.App {
  text-align: center;
}
.header{
  background: #21199b;
  padding: 20px 0px;
}
.menu {
  text-align: right;
  padding: 12px 0px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 23px;
  letter-spacing: 1.2px;
  transition: .4s;
}
.menu a:hover{
  color: rgb(173, 74, 7);
  font-weight: 600;
}
.logo{
  color:#eb6709;
  letter-spacing: 2.2px;
  text-shadow: 0px -1px 0px white;
}
.form-field{
  margin: 30px 0px;
  padding: 0px 77px;
  text-align: left;
  position: relative;
}
input[type="text"]{
  padding: 8px 20px;
  border: 2px solid #21199b;
}
input[type="text"]:focus{
  outline: none;
  border: 2px solid #21199b;
}
.form-inner {
  box-shadow: 0px 0px 6px #21199b;
  padding: 40px 0px;
  width: 34%;
  border-radius: 6px;
  margin: 0 auto;
}
form{
  padding-top: 100px;
}
button.login-btn.btn.btn-primary {
  background: #21199b;
  border: 1px solid #21199b;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  transition: .4s;
}
button.login-btn.btn.btn-primary:hover{
  background-color: rgb(156, 82, 48);
}
.error{
  color: red;
  margin: 0;
  position: absolute;
  font-size: 14px;
}